<h1>Add a new figure</h1>
<form method="post" action="/figures">
<label>Name</label>
<input type="text" id="figure_name" name="figure[name]">
<br></br>

<label>Title</label>
<input type="text" id="new_title" name="title[name]">
<br></br>

<label>Existing titles</label><br>
<% Title.all.each do |title|%>
<% title_id = "title_#{title.id}"%>
<input type="checkbox" id="<%= title_id %>"name="figure[title_ids][]"><%= title.name %></input>
<% end %>
<br></br>

<label>Landmark</label>
<input type="text" name="landmark[name]">
<br></br>

<label>Existing landmarks</label><br>
<% Landmark.all.each do |landmark| %>
<% landmark_id = "landmark_#{landmark.id}"%>
<li><input type="checkbox" id="<%= landmark_id %>" name="figure[landmark_ids][]"><%= landmark.name %></input></li>
<% end %>
<br></br>

<input type="submit" value="Create New Figure">
</form>
